.generated p {
    @apply mb-3 leading-relaxed ;
}
.generated p:last-child {
    @apply mb-0 ;
}
.generated strong {
    @apply font-bold ;
}
.generated em {
    @apply italic ;
}
.generated h2 {
    @apply text-solblue-500 font-bold text-lg uppercase tracking-wide mb-1 leading-tight;
}
.generated h3 {
    @apply text-solblue-500 text-base font-bold mb-1 leading-tight;
}
.generated h4 {
    @apply font-bold text-base mb-1 leading-tight ;
}
.generated ul {
    list-style: none;
    padding-left: 1.5rem;
}
.generated ul li:before {
    content: "\2022";
    padding-right: 0.5rem
}
